@import "../abstracts/variables";
@import "../abstracts/include-media";

/*---------------------------- default ------------------------------------*/

html {
  font-size: 62.5%;
  @include media('<tablet') {
    font-size: 50.5%;
  }
  @include media('<phone') {
    font-size: 30.5%;
  }

  @include media('>bigDesktop') {
    font-size: 90.5%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include media('<tablet') {
    padding: 0;
  }
}
